
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mybg {

  /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */

  /* background-image: linear-gradient(to right top, #0fd939, #00cc99, #00b7dc, #009bf5, #0077dc, #6c68d6, #9f54c5, #c338a8, #ff3f85, #ff7655, #ffba16, #fffd00); */

  background-image: linear-gradient(to right top, #08bfff, #3ed0e7, #82dbcf, #b9e3c6, #e1e9d0);
}